<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpms.system.modules.sys.mapper.SysDeptMapper">

    <select id="listDeptCount" parameterType="com.cpms.system.modules.sys.dto.ListDeptDTO" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM  cpms_system_dept d INNER JOIN cpms_system_tenant t  ON  t.tenant_id = d.tenant_id
        <where>
            d.del_flag = 0
            <if test="deptName !=null and deptName !=''">
                and d.dept_name like CONCAT('%',#{deptName},'%' )
            </if>
            <if test="tenantId !=null ">
                and d.tenant_id = #{tenantId}
            </if>
            <if test="tenantName !=null and tenantName !=''">
                and t.tenant_name like CONCAT('%',#{tenantName},'%' )
            </if>
        </where>
    </select>

    <select id="listDept" parameterType="com.cpms.system.modules.sys.dto.ListDeptDTO" resultType="com.cpms.system.modules.sys.vo.SysDeptVO">
        SELECT
        d.dept_id,
        d.dept_name,
        d.parent_id,
        d.tenant_id,
        d.create_time,
        d.update_time,
        d.create_by,
        d.update_by,
        t.tenant_name,
        ( SELECT dept_name FROM cpms_system_dept WHERE dept_id = d.parent_id ) AS superiorDept
        FROM cpms_system_dept d INNER JOIN cpms_system_tenant t  ON  t.tenant_id = d.tenant_id
        <where>
            d.del_flag = 0
            <if test="deptName !=null and deptName !=''">
                and d.dept_name like CONCAT('%',#{deptName},'%' )
            </if>
            <if test="tenantId !=null ">
                and d.tenant_id = #{tenantId}
            </if>
            <if test="tenantName !=null and tenantName !=''">
                and t.tenant_name like CONCAT('%',#{tenantName},'%' )
            </if>
        </where>
        limit #{startIndex},#{pageSize}
    </select>
</mapper>